extends layout

block scripts
    script(src='//sandbox.static.masterpass.com/dyn/js/switch/integration/MasterPass.client.js')
    script(src='/scripts/index.js')
    script.
        checkoutConfig.callBackUrl = "#{masterpass.conf.callBackUrl}";
        checkoutConfig.merchantCheckoutId = "#{masterpass.conf.merchantCheckoutId}";

block content
    .container-fluid
        .jumbotron
            h1 masterpass test server
            p Choose from the following operations.
        table.table
            tr.warning
                td
                    label Step 1:
            tr
                td
                    form.form-inline
                        button#btnReqToken.btn.btn-primary
                            i.fa.fa-key.fa-lg
                            |  Request Token
            tr.warning
                td
                    label Step 2:
            tr
                td
                    form.form-inline
                        .form-group
                            label(for='requestToken') Request Token
                            |  
                            input#requestToken.form-control(type='text', placeholder='Request Token', size="45")
                        |  
                        button#btnStartCheckout.btn.btn-primary
                            i.fa.fa-shopping-cart.fa-lg
                            |  Start Checkout (Light Box)
            tr.warning
                td
                    label Step 3:
            tr
                td
                    form
                        .form-group
                            label(for='requestTokenStatus') Status
                            |  
                            input#requestTokenStatus.form-control(type='text', readonly='', placeholder='Status', value=params.mpstatus)
                        |  
                        .form-group
                            label(for='checkoutId') Checkout Id
                            |  
                            input#checkoutId.form-control(type='text', readonly='', placeholder='Checkout Id', value=params.checkoutId)
                        |  
                        .form-group
                            label(for='oauthToken') OAuth Token
                            |  
                            input#oauthToken.form-control(type='text', readonly='', placeholder='OAuth Token', size="45", value=params.oauth_token)
                        |  
                        .form-group
                            label(for='oauthVerifier') OAuth Verifier
                            |  
                            input#oauthVerifier.form-control(type='text', readonly='', placeholder='OAuth Verifier', size="45", value=params.oauth_verifier)
                        |  
                        button.btn.btn-primary
                            i.fa.fa-shopping-cart.fa-lg
                            |  Access Token